*,
*::before,
*::after {
	box-sizing: border-box;
}

// reset margins
body,
h1, h2, h3, h4, h5, h6,
p,
figure,
picture {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

a {
	cursor: pointer;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

// body setup
body {
	line-height: 1.5;
}

// make images easier to work with
img,
picture {
	display: block;      // helps with spacing issues
	max-width: 100%;
}

// make forms easier to work with
button,
input,
select,
textarea {
	font: inherit;
}

// remove animations for users who've turned them off
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}