@use '../globals' as *;
@use '../1-config/mixins';

.home-section {
	padding: 3.5rem 0;
}

.home-heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.25rem;
}

/*****************************
         best sellers
/*****************************/
.product-card {
	@include mixins.reset-btn-style;
	cursor: pointer;
	transition: transform 300ms $cubic-bezier;

	&__image-container {
		align-items: center;
		aspect-ratio: 1;
		background-color: rgba($light, 0.3);
		display: flex;
		justify-content: center;
		margin-bottom: 0.5rem;
		transition: background-color 300ms $cubic-bezier;
	}

	&__image {
		width: 70%;
	}

	&:hover,
	&:focus-visible {
		outline: none;
		transform: scale(1.05);
		transition: transform 300ms $cubic-bezier;

		.product-card__image-container {
			background-color: $light;
			transition: background-color 300ms $cubic-bezier;
		}
	}

	&__name {
		font-size: 1.1rem;
		font-weight: 700;
	}

	&__price {
		color: rgba($dark, 0.9);
		font-size: 1rem;
	}
}

/*****************************
        brand showcase
/*****************************/
.brands {
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr); 

		@include atXSmall {
			grid-template-columns: repeat(3, 1fr); 
		}
		@include atSmall {
			grid-template-columns: repeat(4, 1fr); 
		}
		@include atMedium {
			grid-template-columns: repeat(5, 1fr); 
		}
		@include atXLarge {
			grid-template-columns: repeat(7, 1fr);
		}
	}

	&__card {
		@include mixins.reset-btn-style;
		align-items: center;
		aspect-ratio: 1;
		border: 1px solid $light;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-right: -1px;
		padding: .5rem 1rem;

		@include atXSmall {
			padding: .5rem 1.5rem;
		}
		@include atSmall {
			padding: .5rem 2rem;
		}

		&:focus-visible {
			border: 2px solid $accent;
			outline: none;
		}

		.brands__img {
			transition: transform 300ms $cubic-bezier;
		}

		&:focus-visible,
		&:hover {
			.brands__img {
				transform: scale(1.1);
				transition: transform 300ms $cubic-bezier;
			}
		}
	}
}

/*****************************
        featured deals
/*****************************/
.deals {
	padding: 1.75rem 0 2.5rem;

	@include atSmall {
		padding: 3.5rem 0 4rem;
	}

	&__banner {
		background-color: $accent;
		min-height: none;
		padding: 1rem 1rem 2rem;
		position: relative;
		width: 100%;

		@include atSmall {
			// aspect-ratio: 1430/550;
			min-height: 28rem;
			padding: 2.5rem 4rem;
		}
	}

	.wrapper__content {
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
		position: relative;
		width: 100%;

		@include atSmall {
			flex-direction: row;
		}
	}

	&__text {
		margin-top: 0.75rem;
		text-align: center;
		width: 100%;

		@include atXSmall {
			margin-top: 0.8rem;
		}
		@include atSmall {
			margin-top: 0;
			text-align: left;
			width: 50%;
		}
	}

	&__timeframe {
		color: $dark;
		font-size: 1.15rem;
		font-weight: 500;
		margin-bottom: 0.25rem;

		@include atXSmall {
			margin-bottom: 0.75rem;
		}
		@include atSmall {
			font-size: 1.25rem;
			margin-bottom: 1rem;
		}
	}

	&__heading {
		color: $lightest;
		font-size: 2.9rem;
		font-weight: 700;
		line-height: 2.75rem;
		text-transform: uppercase;

		@include atXSmall {
			font-size: 3.8rem;
			line-height: 3.5rem;
		}
		@include atSmall {
			font-size: 6.5rem;
			line-height: 5.5rem;
		}
		@include atMedium {
			font-size: 7.5rem;
			line-height: 6.5rem;
		}
	}

	&__subheading {
		color: $dark;
		font-size: 1.05rem;
		margin: 1rem 0 1.5rem;

		@include atSmall {
			font-size: 1.5rem;
			margin: 1.5rem 0 2rem;
		}
	}

	&__image {
		position: relative;
		right: -50%;
		transform: translate(-50%, 0);
		width: 60%;

		@include atXSmall {
			width: 50%;
		}
		@include atSmall {
			position: absolute;
			left: 55%;
			top: 50%;
			transform: translate(0, -30%);
			width: 47%;
		}
		@include atMedium {
			transform: translate(0, -50%);
			width: 40%;
		}
	}

	&__btn:hover,
	&__btn:focus-visible {
		background-color: $lightest;
		color: $accent;
	}
}