@use '../globals' as *;
@use '../1-config/mixins';

/*****************************
            product
/*****************************/
.product {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-bottom: 3rem;
		width: 100%;

		@include atMedium {
			flex-direction: row;
			gap: 2.5rem;
			padding-bottom: 4rem;
		}
	}

// IMAGES
	&__images {
		// align-items: stretch;
		// display: flex;
		// flex-direction: column;
		gap: 0.5rem;
		width: 100%;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
		// grid-template-columns: repeat(5, auto);
		// grid-template-rows: repeat(4, auto);

		@include atXSmall {
			// flex-direction: row;
			gap: 1rem;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
		@include atMedium {
			display: flex;
			flex-direction: column;
			// grid-template-columns: repeat()
			width: 43%;
		}
	}

	&__main-image-container {
		align-items: center;
		// aspect-ratio: 1;
		aspect-ratio: 58/45;
		background-color: $light;
		display: flex;
		height: auto;
		justify-content: center;
		// width: 100%;
		transition: padding 150ms $cubic-bezier;
		// width: 60vw;
		grid-column: 1 / span 4;
		grid-row: 1 / span 4;

		@include atXSmall {
			grid-column: 1 / span 4;
			grid-row: 1 / span 4;
		}
		@include atMedium {
			width: auto;
		}

		&.transparent-bg {
			aspect-ratio: 1;
			padding: 1.5rem;
			transition: padding 150ms $cubic-bezier;
			width: 100%;

			@include atXSmall {
				padding: 2.25rem;
			}

			.product__main-image {
				height: auto;
				object-fit: contain;
				width: auto;
			}
		}
	}

	&__main-image {
		// object fit if not .transparent-bg
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&__thumbnails {
		align-items: center;
		display: flex;
		// gap: 1.25rem;
		flex-direction: row;
		justify-content: flex-start;
		gap: 4%;
		// width: 35%;

		grid-column: 1 / span 4;
		grid-row: 5 / span 1;

		@include atXSmall {
			flex-direction: column;
			grid-column: 5 / span 1;
			grid-row: 1 / span 4;
		}
		@include atMedium {
			flex-direction: row;
			gap: 4%;       // (22% * 4) width of thumbnail-container + (4% * 3) gap = 100
			justify-content: flex-start;
			width: 100%;   // 100% width of above calculation
		}
	}

	&__thumbnail-container {
		align-items: center;
		aspect-ratio: 1;
		background-color: $light;
		cursor: pointer;
		display: flex;
		// flex-grow: 0;
		// flex-shrink: 1;
		// height: 22%;
		height: auto;
		justify-content: space-between;
		padding: 0;
		width: 22%;
		// width: 100%;

		@include atXSmall {
			height: 22%;
			justify-content: center;
			width: auto;
		}
		@include atMedium {
			height: auto;
			width: 22%;   // (22% * 4) width of thumbnail-container + (4% * 3) gap = 100
		}

		&.transparent-bg {
			padding: 0.45rem;

			@include atXSmall {
				padding: 0.65rem;
			}

			img.product__thumbnail {
				height: auto;
				object-fit: contain;
				width: auto;
			}
		}

		// object fit if not .transparent-bg
		img.product__thumbnail {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&:hover {
			background-color: $accent;
		}
	}

// TEXT
	&__text {
		padding-right: 0;
		width: 100%;

		@include atSmall {
			padding: 0.5rem 2rem 1rem 0;
		}
		@include atMedium {
			padding-right: 2rem;
			width: 50%;
		}
	}

	&__name {
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 1.25;

		@include atXSmall {
			font-size: 2rem;
		}
	}

	&__price {
		color: $accent;
		font-size: 1.25rem;
		font-weight: 500;

		@include atXSmall {
			font-size: 1.5rem;
		}
	}

	&__details {
		color: rgba($dark, 0.8);
		font-size: 0.95rem;
		line-height: 1.75;
		margin: 1.5rem 0;

		p {
			margin: 1rem 0;
		}

		.read-more {
			@include mixins.reset-btn-style;
			color: rgba($dark, 0.55);
			cursor: pointer;

			&:focus-visible {
				box-shadow: 0 0 0 5px $lightest,
										0 0 0 7px $accent;
				outline: none;
			}
		}
	}

	&__buttons {
		display: flex;
		gap: 1rem;
	}

	.btn {
		height: max-content;
		padding: 1rem;
	}

	.btn__dark:hover,
	.btn__dark:focus-visible {
		background-color: transparent;
		border: 2px solid $dark;
		color: $dark;
	}

	.btn__accent:hover,
	.btn__accent:focus-visible {
		background-color: transparent;
		border: 2px solid $accent;
		color: $accent;
	}
}

/*****************************
          suggestions
/*****************************/
.suggestions {
	border-top: 1px solid $light;
	padding: 3rem 0;

	@include atMedium {
		padding: 4rem 0;
	}	

	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		font-size: 1.25rem;
		margin-right: 0.75rem;

		@include atSmall {
			font-size: 1.5rem;
			margin-right: 0.5rem;
		}
	}

	&__arrows {
		display: flex;
		gap: 0.13rem;
	}

	&__arrow {
		@include mixins.reset-btn-style;
		align-items: center;
		background-color: $dark;
		display: flex;
		justify-content: center;
		transition: $transition;
		padding: 0.25rem;

		@include atSmall {
			padding: 0.5rem;
		}

		&:hover,
		&:focus-visible {
			background-color: $accent;
			outline: none;

			> svg {
				fill: $dark;
			}
		}

		&.arrow-right {
			transform: rotate(180deg);
		}

		> svg {
			fill: $lightest;
			transition: $transition;
		}
	}

	&__heading {
		color: $dark;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__container {
		// align-items: flex-start;
		// display: grid;
		// gap: 1.5rem;
		// grid-template-columns: repeat(5, 1fr);
		// grid-template-rows: 1;
		// margin: 1.25rem 0;

		margin: 1.25rem 0;
		overflow-x: hidden;
		width: 100%;

		.suggestions__scrollable-container {
			align-items: flex-start;
			display: flex;
			gap: 0.5%;
			position: relative;
			transform: translateX(0);
			transition: transform 450ms $cubic-bezier;
			width: 338.5%;

			@include atSmall {
				width: 202.5%;
			}

			&.shift {
				transform: translateX(-30.1%);

				@include atSmall {
					transform: translateX(-50.1%);
				}
			}
			
			> * {
				width: 9.5%;
				// width: 12.83%;

				@include atSmall {
					width: 9.5%;
				}
			}
		}

		// disable scale/zoom on hover/focus
		.product-card:hover,
		.product-card:focus-visible {
			transform: none;
			transition: none;
		}

		.product-card__name {
			font-size: 0.92rem;

			@include atSmall {
				font-size: 1.1rem;
			}
		}

		.product-card__price {
			font-size: 0.85rem;

			@include atSmall {
				font-size: 1rem;
			}
		}
	}
}