@use '../globals' as *;
@use '../1-config/mixins';

/*****************************
            product
/*****************************/
.product {
	&__container {
		display: flex;
		flex-direction: row;
		gap: 2.5rem;
		padding-bottom: 4rem;
		width: 100%;
	}

// IMAGES
	&__images {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		width: 43%;
	}

	&__main-image-container {
		align-items: center;
		aspect-ratio: 1;
		background-color: $light;
		display: flex;
		justify-content: center;
		padding: 2.25rem;
	}

	&__thumbnails {
		display: flex;
		// gap: 1.25rem;
		gap: 4%;
		width: 100%;
	}

	&__thumbnail-container {
		// border: 1px solid green;
		align-items: center;
		aspect-ratio: 1;
		background-color: $light;
		cursor: pointer;
		display: flex;
		justify-content: center;
		// padding: 0.5rem;
		width: 22%;

		img.product__thumbnail {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&:hover {
			background-color: $accent;
		}
	}

// TEXT
	&__text {
		// background-color: rgba(#fff, 0.35);
		padding-right: 2rem;
		padding: 0.5rem 2rem 1rem 0;
		width: 50%;
	}

	&__name {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1.25;
		// margin-bottom: 1.5rem;
	}

	&__price {
		color: $accent;
		font-size: 1.5rem;
		font-weight: 500;
	}

	&__details {
		color: rgba($dark, 0.8);
		font-size: 0.95rem;
		line-height: 1.75;
		margin: 1.5rem 0;

		p {
			margin: 1rem 0;
		}

		.read-more {
			@include mixins.reset-btn-style;
			color: rgba($dark, 0.55);
			cursor: pointer;

			&:focus-visible {
				box-shadow: 0 0 0 5px $lightest,
										0 0 0 7px $accent;
				outline: none;
			}
		}
	}

	&__buttons {
		display: flex;
		gap: 1rem;
	}

	.btn {
		height: max-content;
		padding: 1rem;
	}

	.btn__dark:hover,
	.btn__dark:focus-visible {
		background-color: transparent;
		border: 2px solid $dark;
		color: $dark;
	}

	.btn__accent:hover,
	.btn__accent:focus-visible {
		background-color: transparent;
		border: 2px solid $accent;
		color: $accent;
	}
}

/*****************************
          suggestions
/*****************************/
.suggestions {
	border-top: 1px solid $light;
	padding: 4rem 0;

	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__arrows {
		display: flex;
		gap: 0.13rem;
	}

	&__arrow {
		@include mixins.reset-btn-style;
		align-items: center;
		background-color: $dark;
		// background-color: transparent;
		// border: 0.13rem solid $dark;
		display: flex;
		justify-content: center;
		transition: $transition;
		padding: 0.5rem;

		&:hover,
		&:focus-visible {
			background-color: $accent;
			outline: none;

			> svg {
				fill: $dark;
			}
		}

		&.arrow-right {
			transform: rotate(180deg);
		}

		> svg {
			fill: $lightest;
			transition: $transition;
		}
	}

	&__heading {
		color: $dark;
		font-weight: 500;
		text-transform: uppercase;
	}

	&__container {
		// align-items: flex-start;
		// display: grid;
		// gap: 1.5rem;
		// grid-template-columns: repeat(5, 1fr);
		// grid-template-rows: 1;
		// margin: 1.25rem 0;

		margin: 1.25rem 0;
		overflow-x: hidden;
		width: 100%;

		.suggestions__scrollable-container {
			align-items: flex-start;
			display: flex;
			// gap: 1.5rem;
			gap: 0.5%;
			position: relative;
			transform: translateX(0);
			transition: transform 450ms $cubic-bezier;
			width: 202.5%;

			&.shift {
				transform: translateX(-50.1%);
			}
			
			> * {
				width: 9.5%;
			}
		}

		// disable scale/zoom on hover/focus
		.product-card:hover,
		.product-card:focus-visible {
			transform: none;
			transition: none;
		}
	}
}