@use '../globals' as *;

.search {
	&__header {
		align-items: center;
		background-color: $dark;
		display: flex;
		min-height: 13rem;
		padding: 0 1.25rem;
		text-align: center;

		@include atSmall {
			min-height: 15rem;
		}
	}

	&__heading {
		color: $lightest;
		font-size: 1.8rem;
		font-weight: 700;
		margin: 0 auto;

		@include atSmall {
			font-size: 2.85rem;
		}
	}

	.search-bar {
		box-shadow: 0rem 0.1rem 0.45rem rgba($dark, 0.14);
		display: flex;
		height: 3.25rem;
		margin: 0 auto;
		max-width: 40rem;
		position: relative;
		top: -2rem;
		width: 90%;

		@include atSmall {
			height: 4rem;
		}

		&__input {
			background-color: #ffffff;
			border: 1px solid rgba($dark, 0.65);
			border: none;
			border-radius: 0.2rem 0 0 0.2rem;
			color: $dark;
			flex: 1;
			font-size: 1.25rem;
			padding: 0.25rem 1.25rem;
			width: 100%;

			@include atSmall {
				padding: 0.25rem 1.75rem;
			}

			&:focus-visible {
				border: 2px solid $accent;
				outline: none;
			}

			&::placeholder {
				color: rgba($dark, 0.5);
			}
		}

		button[type="submit"] {
			aspect-ratio: 1;
			background-color: $accent;
			border: 1px solid rgba($dark, 0.65);
			border: none;
			border-radius: 0rem 0.2rem 0.2rem 0;
			cursor: pointer;

			&:focus-visible {
				border: 2px solid $dark;
				outline: none;
			}
		}

		svg {
			height: 1.25rem;

			@include atSmall {
				height: 1.5rem;
			}
		}
	}

	&__no-query {
		font-size: 1.15rem;
		margin-bottom: 5rem;
		text-align: center;

		a {
			color: $accent;
		}
	}

	&__no-results {
		margin: 2.75rem auto 5.5rem;
		text-align: center;
		width: 80%;

		&__heading {
			font-size: 1.75rem;
			font-weight: 700;
			line-height: 1.25;
			margin-bottom: 0.7rem;

			@include atSmall {
				line-height: 1.5;
			}
		}

		&__paragraph {
			margin-bottom: 2.25rem;
		}
	}

	&__results {
		&-container {
			margin: 0.25rem 0 4rem;
			text-align: right;
			width: 100%;
			
			@include atSmall {
				margin: 1rem 0 2rem;
			}
		}

		&-link {
			color: $accent;
			display: inline-block;
			margin-bottom: 1rem;

			@include atSmall {
				margin-bottom: 1.5rem;
			}
		}
	}
}