@use '../globals' as *;

.footer {
	background-color: $lightest;
	border-top: 1px solid $light;
	color: $dark;
	font-size: 0.85rem;
	height: 5rem;
	padding: 1.75rem 0;
	text-align: center;

	@include atXSmall {
		padding: 2.25rem 0;
	}
	@include atSmall {
		text-align: left;
	}
	@include atMedium {
		font-size: 1rem;
		padding: 3rem 0 3.5rem;
	}

	.wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: space-between;

		@include atSmall {
			flex-direction: row;
		}
	}

	&__brand {
		color: $dark;
		font-weight: 400;
		font-size: 1.25rem;
		letter-spacing: 0.15rem;
		text-transform: uppercase;

		@include atXSmall {
			font-size: 1.4rem;
		}
		
		span {
			color: $accent;
			font-weight: 700;
		}
	}

	&__payment {
		display: flex;
		gap: .5rem;
		list-style: none;
		margin-top: 0.5rem;

		@include atXSmall {
			gap: .85rem;
		}

		&-item {
			svg {
				height: auto;
				width: 2.25rem;

				@include atSmall {
					width: 2.7rem;
				}
			}
		}
	}
}