@use '../globals' as *;

.footer {
	border-top: 1px solid $light;
	color: $dark;
	padding: 3rem 0 3.5rem;

	.wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__brand {
		color: $dark;
		font-weight: 400;
		font-size: 1.4rem;
		letter-spacing: 0.15rem;
		text-transform: uppercase;
		
		span {
			color: $accent;
			font-weight: 700;
		}
	}

	&__payment {
		display: flex;
		gap: .85rem;
		list-style: none;
		margin-top: 0.5rem;

		&-item {
			svg {
				height: auto;
				width: 2.7rem;
			}
		}
	}
}