@use '../globals' as *;

.hero-container {
	background: $light;
	color: $dark;
	min-height: 37rem;
	padding: 4rem;
	position: relative;
	width: 100%;

	.text-container {
		color: #222222;
		margin-top: 1.25rem;
		max-width: 70%;
	}

	.hero-subheading {
		font-size: 1.5rem;
		font-weight: 500;
	}

	.hero-heading {
		font-size: 6rem;
		font-weight: 500;
		line-height: 7.25rem;
		text-transform: uppercase;
	}

	.hero-desc-container {
		font-size: 0.9rem;
		line-height: 1.75rem;
		margin-top: 1rem;
		width: 60%;
	}

	.btn {
		margin-top: 2.25rem;
	}

	.hero-image {
		position: absolute;
		right: 8%;
		top: 55%;
		transform: translateY(-50%);
		width: min(35%, 31rem);
	}
}