@use '../globals' as *;
@use '../1-config/mixins';

.menu {
	align-items: center;
	background-color: $lightest;
	display: flex;
	height: $navbar-default;
	position: relative;
	z-index: 2;
	width: 100%;

	@include atXSmall {
		height: $navbar-xs;
	}
	@include atSmall {
		height: $navbar-lg;
	}

	&__container {
		aspect-ratio: 1;
		background-color: transparent;
		height: 100%;
		margin-left: $navbar-default - 1.8rem;
		position: relative;
		z-index: 4;

		@include atXSmall {
			background-color: $accent;
			margin-left: 0;
		}
	}

	&__icon {
		@include mixins.reset-btn-style;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		height: 2.75rem;
		justify-content: space-between;
		left: 50%;
		padding: 1rem;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		width: 3.18rem;

		@include atXSmall {
			width: 3.35rem;
		}

		&:focus-visible {
			outline: none;
			outline: 0.125rem solid $dark;
		}

		> * {
			background-color: $dark;
			height: 0.125rem;
			transition: all 100ms $cubic-bezier;
			width: 100%;
		}

		&.close {
			.top-line {
				position: relative;
				transform: rotate(40deg);
				top: 0.37rem;
			}

			.middle-line {
				height: 0;
			}

			.bottom-line {
				position: relative;
				transform: rotate(-40deg);
				top: -0.25rem;
			}
		}
	}

	&__list {
		background-color: $accent;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 14rem;
		list-style: none;
		max-height: max-content;
		overflow: hidden;
		padding: 1.3rem 0;
		position: absolute;
		top: $navbar-default;
		transform: translateY(0%);
		transition: height 350ms $cubic-bezier,
		            padding 350ms $cubic-bezier;
		width: 100vw;
		z-index: 4;

		@include atXSmall {
			top: $navbar-xs;
		}
		@include atSmall {
			top: $navbar-lg;
		}

		&.hidden {
			height: 0;
			padding: 0;
			transition: height 350ms $cubic-bezier,
			            padding 350ms $cubic-bezier;

			.menu__item {
				opacity: 0;
				transition: opacity 50ms $cubic-bezier 50ms;
			}
		}

		&-item {
			opacity: 1;
			
			a {
				color: $dark;
				display: block;
				text-decoration: none;
				padding: 0.5rem 2rem;
				width: 100%;

				&:focus-visible {
					background-color: rgba($lightest, 0.2);
					outline: none;
				}
			}
		}
	}

	.brand {
		color: $dark;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
		margin-left: 0.25rem;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 5;

		@include atXSmall {
			font-size: 1.4rem;
			margin-left: 0.75rem;
		}
		@include atSmall {
			letter-spacing: 0.15rem;
			margin-left: 1.75rem;
		}
		
		span {
			color: $accent;
			font-weight: 700;
		}
	}

	// SEARCH BAR
	.search-bar {
		align-items: stretch;
		border: 1px solid rgba($dark, 0.35);
		border-radius: 0.2rem;
		display: none;
		height: 3.35rem;  // a little bigger than .nav-icon buttons

		@include atSmall {
			display: flex;
		}

		&__input {
			background-color: transparent;
			border: none;
			color: rgba($dark, 0.75);
			height: 100%;
			padding: 0 0.75rem;
			position: relative;

			&::placeholder {
				color: rgba($dark, 0.75);
			}

			&:focus,
			&:focus-visible {
				color: $dark;
				outline-color: $accent;
			}
		}
	}
}

.nav-icons {
	align-items: center;
	display: flex;
	gap: .75rem;
	height: 100%;
	margin-left: auto;
	margin-right: $navbar-default - 1.7rem;  // offset button's 1.8rem right padding

	@include atXSmall {
		margin-right: $navbar-xs - 1rem;  // offset button's 1rem right padding
	}
	@include atSmall {
		margin-right: $navbar-lg - 1rem;
	}

	button {
		@include mixins.reset-btn-style;
		height: 3.25rem;
		padding: 1rem;
		position: relative;
		width: auto;

		> * {
			fill: $dark;
			height: 100%;
			transition: $transition;
			width: 100%;
		}

		&:focus-visible,
		&:hover {
			> * {
				fill: $accent;
				transition: $transition;
			}
		}

		&:focus-visible {
			outline: 2px solid $accent;
		}
	}

	&__cart {
		svg {
			height: 97%; // too tall
		}
	}

	.nav-icons__cart-count {
		aspect-ratio: 1;
		background-color: $accent;
		border-radius: 50%;
		color: $lightest;
		font-size: 0.8rem;
		height: 1.3rem;
		line-height: 1.35rem;
		position: absolute;
		right: 0.25rem;
		top: 0.65rem;
		width: 1.3rem;

		@include atXSmall {
			top: 0.45rem;
		}
	}
}