@use '../globals' as *;

html {
	scroll-behavior: smooth;
}

body {
	background-color: $lightest;
	color: $dark;
	font-family: $sans-serif;
	min-height: 100vh;
	position: relative;
}

// Ensures footer sticks to bottom of the page
.layout {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	min-height: 100vh;

	.main-container {
		flex: 1;
	}

	footer {
		flex: 0;
	}
}

.wrapper {
	// padding: 0 5vw;
	padding: 0 $navbar-default - 1.2rem;

	@include atXSmall {
		padding: 0 $navbar-xs;
	}
	@include atSmall {
		padding: 0 $navbar-lg;
	}

	&__content {
		margin: 0 auto;
		max-width: 75rem;
		// max-width: 100rem;
	}
}

.header-wrapper {
	padding: 0 $navbar-default;

	@include atXSmall {
		padding: 0 $navbar-xs;
	}
	@include atSmall {
		padding: 0 $navbar-lg;
	}

	&__content {
		margin: 0 auto;
		max-width: 100rem;
	}
}

// Success and 404 pages
.single-page-container {
	text-align: center;

	.wrapper {
		margin-bottom: $navbar-default;
		min-height: 25rem;
		text-align: center;

		@include atXSmall {
			margin-bottom: $navbar-xs;
		}
		@include atSmall {
			margin-bottom: $navbar-lg;
		}
	}

	.gray-container {
		background-color: $light;
		height: 100%;
		padding: 2rem 1.25rem;
		width: 100%;

		@include atSmall {
			padding: 6rem 4rem;
		}
	}
}

// Home, Brand and Search pages
.product-grid {
	align-items: start;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);

	@include atSmall {
		gap: 1.5rem;
		grid-template-columns: repeat(3, 1fr);
	}
	@include atMedium {
		gap: 2.5rem;
		grid-template-columns: repeat(4, 1fr);
	}
}

// Buttons
.btn {
	border: none;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: 500;
	height: 3rem;
	letter-spacing: 0.03rem;
	min-width: 7.5rem;
	padding: 0 1rem;
	text-transform: uppercase;
	transition: all 200ms $cubic-bezier;

	@include atXSmall {
		font-size: 0.9rem;
	}
	@include atSmall {
		font-size: 1rem;
		letter-spacing: 0.05rem;
		padding: 0 1.5rem;
	}

	&:hover,
	&:focus-visible {
		outline: none;
		transform: scale(1.05);
	}

	&__block {
		width: 100%;
	}

	&__accent {
		background-color: $accent;
		color: $lightest;

		&:hover,
		&:focus-visible {
			background-color: $dark;
		}
	}

	&__dark {
		background-color: $dark;
		color: $lightest;
		
		&:hover,
		&:focus-visible {
			background-color: $accent;
		}

		&-outline {
			background-color: transparent;
			border: 2px solid $dark;
			color: $dark;

			&:hover,
			&:focus-visible {
				background-color: $dark;
				color: $lightest;
			}
		}
	}

	&__light {
		background-color: $lightest;
		color: $accent;

		&:hover,
		&:focus-visible {
			background-color: $dark;
		}
	}
}